.navbar-container-wrapper {
  display: contents;
}
.navbar-container-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #002fa7;
}
.navbar-container-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.navbar-container-heading1 {
  color: #ffffff;
}
.navbar-container-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-container-link1 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Overpass";
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.navbar-container-link2 {
  color: #ffffff;
  font-size: 18px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.navbar-container-link3 {
  color: #ffffff;
  font-size: 18px;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.navbar-container-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon1 {
  width: 36px;
  height: 36px;
}
.navbar-container-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.navbar-container-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.navbar-container-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-icon3 {
  width: 24px;
  height: 24px;
}
.navbar-container-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-container-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-container-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-fragment10 {
  display: contents;
}
.home-text100 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text107 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text102 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text106 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text101 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text105 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text108 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text103 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text104 {
  display: inline-block;
}


@media(max-width: 991px) {
  .navbar-container-heading2 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .navbar-container-navbar {
    position: relative;
  }
  .navbar-container-links-container1 {
    display: none;
  }
  .navbar-container-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .navbar-container-icon1 {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .navbar-container-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.footer-container-wrapper {
  display: contents;
}
.footer-container-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer-container-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.footer-container-row {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer-container-container1 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-container-link1 {
  display: contents;
}
.footer-container-icon1 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  display: flex;
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-decoration: none;
}
.footer-container-link2 {
  display: contents;
}
.footer-container-icon3 {
  text-decoration: none;
}
.footer-container-container2 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container-text1 {
  display: flex;
  align-self: flex-end;
  text-align: right;
}
.home-fragment19 {
  display: contents;
}
.home-text300 {
  display: inline-block;
}


@media(max-width: 767px) {
  .footer-container-row {
    gap: 24px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-container-container1 {
    align-self: center;
    justify-content: center;
  }
  .footer-container-text1 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .footer-container-max-width {
    gap: 24px;
  }
  .footer-container-container1 {
    align-self: center;
    justify-content: center;
  }
  .footer-container-text1 {
    text-align: center;
  }
}

.home-container10 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text100 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text101 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text102 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text103 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text104 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text105 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text106 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text107 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text108 {
  display: inline-block;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-intro {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-hero {
  width: 90%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container1 {
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(4, 4, 4);
  width: 100%;
  font-size: 42px;
  align-self: flex-start;
  font-family: "Overpass";
  font-weight: 900;
  line-height: 1.22;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-text114 {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 1.55;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-container12 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-pasted-image1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-prof-exp-back {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-prof-exp {
  width: 90%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-header {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-text128 {
  font-size: 48px;
  text-align: center;
  font-family: "Overpass";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-job1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
}
.home-company-and-job-title1 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text129 {
  font-style: normal;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text130 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 700;
  letter-spacing: 1px;
}
.home-text136 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text137 {
  text-align: left;
}
.home-job2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
}
.home-company-and-job-title2 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text143 {
  font-style: normal;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text144 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 700;
  letter-spacing: 1px;
}
.home-text154 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text155 {
  text-align: left;
}
.home-job3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
}
.home-company-and-job-title3 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text161 {
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text162 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 700;
  letter-spacing: 1px;
}
.home-text164 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text165 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text166 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text167 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text168 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text170 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text171 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-job4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
}
.home-company-and-job-title4 {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text176 {
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-text177 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 1px;
}
.home-text188 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text189 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text190 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text191 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  letter-spacing: 1px;
}
.home-text193 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text194 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text196 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text197 {
  font-size: 16px;
  font-style: normal;
  font-family: "Overpass";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-projects {
  width: 90%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
.home-hero-text-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text200 {
  font-size: 48px;
  align-self: center;
  font-family: "Overpass";
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-filmslate {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image10 {
  width: 200px;
  object-fit: cover;
}
.home-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text203 {
  text-align: center;
}
.home-blank1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image11 {
  width: 200px;
  object-fit: cover;
}
.home-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading3 {
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text204 {
  text-align: center;
}
.home-blank2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-image12 {
  width: 200px;
  object-fit: cover;
}
.home-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text205 {
  text-align: center;
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-skills {
  width: 90%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text206 {
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-skillls {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-skills-row1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container14 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  animation-name: pulse;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.home-image13 {
  width: 25%;
  align-self: flex-start;
  object-fit: cover;
}
.home-text207 {
  display: flex;
  align-self: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 8px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.home-image14 {
  width: 25%;
  align-self: flex-start;
  object-fit: cover;
}
.home-text210 {
  align-self: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.home-image15 {
  width: 25%;
  object-fit: cover;
}
.home-text211 {
  align-self: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: 18%;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.home-image16 {
  width: 25%;
  align-self: flex-start;
  object-fit: cover;
}
.home-text214 {
  align-self: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: var(--dl-color-primary-700);
}
.home-image17 {
  width: 25%;
  object-fit: cover;
}
.home-text217 {
  align-self: flex-start;
}
.home-skills-row2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container19 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image18 {
  width: 25%;
  object-fit: cover;
}
.home-text220 {
  display: block;
  align-self: flex-start;
}
.home-container20 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image19 {
  width: 25%;
  object-fit: cover;
}
.home-text223 {
  align-self: flex-start;
}
.home-container21 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image20 {
  width: 25%;
  object-fit: cover;
}
.home-text224 {
  align-self: flex-start;
}
.home-container22 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image21 {
  width: 25%;
  object-fit: cover;
}
.home-text227 {
  align-self: flex-start;
}
.home-container23 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 8px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.home-image22 {
  width: 25%;
  display: flex;
  object-fit: cover;
  justify-content: flex-start;
}
.home-text230 {
  display: flex;
  align-self: flex-start;
  flex-direction: row-reverse;
}
.home-skills-row3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-container24 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image23 {
  width: 25%;
  object-fit: cover;
}
.home-text233 {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.home-container25 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image24 {
  width: 25%;
  display: flex;
  object-fit: cover;
  flex-direction: column-reverse;
}
.home-text234 {
  display: flex;
  align-self: center;
  flex-direction: column;
}
.home-container26 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-image25 {
  width: 25%;
  object-fit: cover;
}
.home-text235 {
  align-self: flex-start;
}
.home-container27 {
  flex: 0 0 auto;
  width: 18%;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column-reverse;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-text238 {
  align-self: flex-start;
}
.home-image26 {
  width: 25%;
  object-fit: cover;
}
.home-container28 {
  flex: 0 0 auto;
  width: 18%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column-reverse;
  justify-content: center;
}
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
}
.home-tools {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-primary-700);
}
.home-heading-container2 {
  width: 60%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text239 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-tools-icons {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-tools-row1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container29 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-icon10 {
  width: 25%;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text240 {
  align-self: center;
}
.home-container30 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-icon12 {
  width: 25%;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text243 {
  align-self: center;
}
.home-container31 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-icon14 {
  width: 25%;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text246 {
  align-self: center;
}
.home-container32 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-icon16 {
  fill: #D9D9D9;
  width: 25%;
  align-self: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text249 {
  align-self: center;
}
.home-container33 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-image27 {
  width: 25%;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text252 {
  align-self: center;
}
.home-tools-row2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container34 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-icon18 {
  width: 25%;
  align-self: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text255 {
  align-self: center;
}
.home-container35 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-icon20 {
  width: 25%;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text258 {
  align-self: center;
}
.home-container36 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-image28 {
  width: 25%;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text261 {
  align-self: center;
}
.home-container37 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-pasted-image2 {
  width: 25%;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text264 {
  display: flex;
  align-self: center;
  justify-content: flex-start;
}
.home-container38 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-image29 {
  width: 25%;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text267 {
  align-self: center;
}
.home-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
}
.home-education {
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text270 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-container40 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image30 {
  height: 64px;
  display: block;
  object-fit: cover;
}
.home-container41 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container42 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-container43 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image31 {
  width: 80%;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container44 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-container46 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image32 {
  width: auto;
  height: 64px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-container47 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text285 {
  width: auto;
  display: block;
}
.home-container48 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-container49 {
  flex: 0 0 auto;
  width: 20%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image33 {
  width: 80%;
  align-self: flex-start;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-container50 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-fragment19 {
  display: contents;
}
.home-text300 {
  display: inline-block;
}
@media(max-width: 991px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container1 {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text113 {
    text-align: center;
  }
  .home-text114 {
    font-family: Overpass;
  }
  .home-container12 {
    width: 20%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-pasted-image1 {
    align-self: flex-start;
    justify-content: center;
  }
  .home-text128 {
    text-align: center;
  }
  .home-hero-text-container2 {
    width: 90%;
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-image10 {
    width: auto;
  }
  .home-image11 {
    width: auto;
  }
  .home-heading3 {
    text-align: center;
  }
  .home-image12 {
    width: auto;
  }
  .home-heading4 {
    text-align: center;
  }
  .home-container14 {
    min-height: 95px;
  }
  .home-container15 {
    min-height: 95px;
  }
  .home-container16 {
    min-height: 95px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image15 {
    width: 25%;
    height: 25%;
    display: flex;
    align-self: flex-start;
    flex-direction: column-reverse;
  }
  .home-text211 {
    display: flex;
  }
  .home-container17 {
    min-height: 95px;
  }
  .home-container18 {
    min-height: 95px;
  }
  .home-container19 {
    min-height: 95px;
  }
  .home-container20 {
    min-height: 95px;
  }
  .home-container21 {
    min-height: 95px;
  }
  .home-container22 {
    min-height: 95px;
  }
  .home-container23 {
    min-height: 95px;
  }
  .home-container24 {
    min-height: 95px;
  }
  .home-container25 {
    min-height: 95px;
  }
  .home-container26 {
    min-height: 95px;
  }
  .home-container27 {
    min-height: 95px;
  }
  .home-tools-row1 {
    align-self: center;
  }
  .home-container29 {
    align-self: center;
  }
  .home-container30 {
    align-self: center;
  }
  .home-container33 {
    align-self: center;
  }
  .home-tools-row2 {
    align-self: center;
  }
  .home-container34 {
    align-self: center;
    align-items: center;
  }
  .home-container35 {
    align-self: center;
    align-items: center;
  }
  .home-container36 {
    align-self: center;
  }
  .home-container37 {
    align-self: center;
  }
  .home-container38 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .home-container12 {
    width: 50%;
  }
  .home-text128 {
    text-align: center;
  }
  .home-text200 {
    text-align: center;
  }
  .home-text201 {
    text-align: center;
  }
  .home-filmslate {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-blank1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-blank2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-icon10 {
    height: 100%;
  }
  .home-icon12 {
    height: 100%;
  }
  .home-heading-container3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-hero-text-container1 {
    width: 100%;
  }
  .home-container12 {
    width: 50%;
  }
  .home-job1 {
    width: 100%;
  }
  .home-job2 {
    width: 100%;
  }
  .home-job3 {
    width: 100%;
  }
  .home-job4 {
    width: 100%;
  }
  .home-hero-text-container2 {
    width: 100%;
  }
  .home-filmslate {
    width: 100%;
  }
  .home-blank1 {
    width: 100%;
  }
  .home-blank2 {
    width: 100%;
  }
  .home-text206 {
    text-align: center;
  }
  .home-container24 {
    align-self: flex-start;
    flex-direction: column;
  }
  .home-text233 {
    max-width: 100%;
    align-self: flex-start;
    align-items: flex-start;
  }
  .home-text239 {
    text-align: center;
  }
  .home-text270 {
    text-align: center;
  }
}
