.footer-container-footer1 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.footer-container-footer2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
}
.footer-container-social-links {
  width: 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container-link1 {
  display: contents;
}
.footer-container-icon1 {
  text-decoration: none;
}
.footer-container-link2 {
  display: contents;
}
.footer-container-icon3 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  align-self: flex-start;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-container-container {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-end;
  flex-direction: column;
}
.footer-container-text1 {
  align-self: flex-end;
  text-align: left;
}
.footer-container-fragment {
  display: contents;
}
.footer-container-text2 {
  display: inline-block;
}


